.main {
    height: 100vh;
    /* border: 2px solid black; */
}

.top_part {
    /* position: relative; */
    height: 40vh;
    background-color: rgb(61, 61, 231);

}

/* navbar styling*/
.nav_bar {
    height: 80%;
    background-color: rgb(61, 61, 231);
}

.booking {
    display: flex;
    justify-content: space-around;
}

.corner {
    padding: 8px;
    height: 25px;
    /* width: max-content; */
}

.corner:hover {
    cursor: pointer;
    background-color: rgb(47, 47, 165);
}

.small_screen {
    display: none;
}

.nav_bar_1st_link:hover {
    background-color: rgb(47, 47, 165);
}

.margin12 {
    margin-left: 12%;
}

.highlited_box {

    align-items: center;
    width: 80%;
    height: 30px;
    /* border: 1px solid rgb(234, 166, 18);  */
    border-radius: 10px;
}

/* for main part of website*/
.main_container {
    width: 1200px;
    min-height: 500px;
    /* border: 2px solid brown; */
}

/* for 2 colum horizontal row*/
.horizontal_row {
    background-image: url(2-row-card-2-pic.webp);
    width: 450px;
    height: 150px;
    color: white
}

@media (max-width: 1020px) {

    .small_screen {
        display: block;
    }

    .corner,
    .corner_btn {
        display: none;
    }
}

@media (max-width: 990px) {
    .main_container {
        margin-top: 100px;
        width: 100%;
    }

    .disappear{ display: none;}

}

    @media (max-width: 1200px) 
{
    .horizontal_row {
        display: none;
    }
}

@media (max-width: 550px) {
    .image>div>p {
        display: none;
    }
}


@media (max-width: 1200px) {
    .booking {
        display: flex;
        justify-content: space-between;
    }

    .margin12 {
        margin-left: 5px;
        /* margin-right: 5px;*/
    }

    .highlited_box {
        width: 98%;
    }

}